<h1>Projects</h1>
<div class="bordered">
    <% @projects.each do |project| %>
        <div>
            <h2><%= link_to project.name, project %></h2>
            <p><%= project.status  %></p>
        </div>
    <% end %>
</div>
<br />
<% if current_user %>
<%= link_to 'Add a project', new_project_path %>
<% end %>