<h1 font="Cambria" align=center>Rubava Team Members</h1>
<br />
<table>
  <tr>
    <th>Name</th>
    <th>Contributions</th>
    <th>Biography</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rubava_team_members.each do |rubava_team_member| %>
  <tr>
    <td><%= rubava_team_member.name %></td>
    <td><%= rubava_team_member.contributions %></td>
    <td><%= rubava_team_member.biography %></td>
    <td><%= link_to 'Show', rubava_team_member %></td>
  </tr>
<% end %>
</table>

<br />
