<h1 font="Cambria" align=center>Rubava Team Members</h1>
<br />
<table border="2">
  <tr>
    <th>Name</th>
    <th>Contributions</th>
  </tr>

<% @rubava_team_members.each do |rubava_team_member| %>
  <tr class="border-bottom">
    <td><%= rubava_team_member.name %></td>
    <td><%= rubava_team_member.contributions %></td>
    <td><%= link_to 'Show', rubava_team_member %></td>
  </tr>
<% end %>
</table>
<div align="left"><a href="http://rubava.com/rubava_team_members/new"><i>Add a Rubavite!</i></a></div>
<br />
