/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
html{
	background-color:#191919;
}
head{
	margin:0px auto auto auto;
}
h1{
	text-align:center;
}
h1.top{
	background-color:#191919;
}
.topflush{
	background-color:#191919;
	text-align:center;
}
body{
	background-color:#191919;
	text-align:center;
}
.centered{
	text-align:center;
}
div{
	text-align:center;
	margin:50px;
}
div.focus{
	background-color:#B0C4DE;
	width:50%;
	text-align:center;
	border:200px solid white;
	border-radius:100px;
	border-color:#B0C4DE;
	margin-left:auto;
	margin-right:auto;
	height:50%;
}
img{
	margin:0px auto auto auto;
}
table{
	margin-left:auto;
	margin-right:auto;
	border:2px solid #191919;
	border-radius:3px;
}
.navigationfooter{
	text-align:center;
	color:#B0C4DE;
}
.bordered{
	border:2px solid #191919;
	border-radius:3px;
	padding:10px;	
}